<%= form_for(@hdfs_path) do |f| %>
  <% if @hdfs_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hdfs_path.errors.count, "error") %> prohibited this hdfs_path from being saved:</h2>

      <ul>
      <% @hdfs_path.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
