<h1>HDFS paths</h1>

<table class="table table-striped">
  <tr>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @hdfs_paths.each do |hdfs_path| %>
  <tr>
    <td><%= hdfs_path.path %></td>
    <td><%= link_to 'Show', hdfs_path %></td>
    <td><%= link_to 'Edit', edit_hdfs_path_path(hdfs_path) %></td>
    <td><%= link_to 'Destroy', hdfs_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New HDFS path', new_hdfs_path_path, :class => 'btn' %>
