<p id="notice"><%= notice %></p>

<h3>Root: <small><%= @hdfs_path.path %></small></h3>
<hr/>
<ul>
  <% @hdfs_path.hdfs_path_paths.each do |info| %>
      <li> <%= link_to("#{info.path} <b>#{info.size}</b>".html_safe, url_for(:controller => :servers, :action => :select, :hdfs_source_path => info.full_path)) %>   </li>
  <% end %>
</ul>

<hr/>

<%= link_to 'Edit', edit_hdfs_path_path(@hdfs_path), :class => 'btn' %>
<%= link_to 'Back', hdfs_paths_path, :class => 'btn' %>
