<ul>
  <% items.each do |file_info| %>
      <li class="<%= solr_class(file_info.name)   %>">
        <% if is_solr_index?(file_info) %>
            <%= file_info.name %> <b><%= header_for(file_info) %></b> |
            <%= link_to 'delete', :server, confirm: 'Are you sure?', :hdfs_src => '@path_id' %> |
            <%= link_to('create core', url_for(:controller => :solr, :action => :create, :hdfs_src => @hdfs_source_path, :job_id => @job_id, :solr_schema => @solr_schema, :dest_server => @server.name, :dest_path => file_info.path)) %>
            |
            <%= link_to('copy schema', url_for(:controller => :solr, :action => :copy_schema, :hdfs_src => @hdfs_source_path, :job_id => @job_id, :solr_schema => @solr_schema, :dest_server => @server.name, :dest_path => file_info.path)) %>
        <% else %>
            <% if is_solr_server(file_info.name) %>
                <%= file_info.name %>
            <% else %>
                <%= file_info.name %>
            <% end %>
            <b><%= header_for(file_info) %></b>

            <% if is_below_solr?(file_info) && @hdfs_source_path != nil %>
                <%= link_to('deploy', url_for(:controller => :merge_jobs, :action => :new, :hdfs_src => @hdfs_source_path, :job_id => @job_id, :solr_schema => @solr_schema, :dest_server => @server.name, :dest_path => file_info.path)) %>
            <% end %>

            <% if file_info.children.length > 0 %>
                <%= render :partial => 'tree_level', :locals => {:items => file_info.children} %>
            <% end %>
        <% end %>
      </li>
  <% end %>
</ul>
