<ul>
  <% items.each do |file_info| %>
      <li class="<%= get_solr_class(file_info) %>">
        <%= file_info.name %>
        <% if is_solr_index?(file_info) %>  <b><%= header_for(file_info) %></b>
            <% if live_solr_core?(file_info.path) %>
                <%= link_to 'remove core', remove_core_action(file_info.name) %>
            <% else %>
                <%= link_to('create core', url_for(:controller => :solr, :action => :create, :hdfs_src => @hdfs_source_path, :job_id => @job_id, :solr_schema => @solr_schema, :dest_server => @server.name, :dest_path => file_info.path)) %>
                | <%= link_to 'delete files', :server, confirm: 'Are you sure?', :hdfs_src => '@path_id' %>
            <% end %>
        <% else %>
            <b><%= header_for(file_info) %></b>
            <% if is_below_solr?(file_info) && @hdfs_source_path != nil %>
                <%= link_to('deploy', url_for(:controller => :merge_jobs, :action => :new, :hdfs_src => @hdfs_source_path, :job_id => @job_id, :solr_schema => @solr_schema, :dest_server => @server.name, :dest_path => file_info.path)) %>
            <% end %>

            <% if file_info.children.length > 0 %>
                <%= render :partial => 'tree_level', :locals => {:items => file_info.children} %>
            <% end %>
        <% end %>
      </li>
  <% end %>
</ul>
