<p id="notice"><%= notice %></p>
<h3> hdfs source:'<%= @path_id %>' </h3>
<H3>Server:<%= @server.name %> (<%= header_for(@server.solr_index_locations) %>)</H3>
<%= render :partial => 'tree_level', :locals => {:items => @server.solr_index_locations.children} %>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
