<h1>Listing merge_jobs</h1>

<table>
  <tr>
    <th>Hdfs src</th>
    <th>Dest server</th>
    <th>Dest path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merge_jobs.each do |merge_job| %>
  <tr>
    <td><%= merge_job.hdfs_src %></td>
    <td><%= merge_job.dest_server %></td>
    <td><%= merge_job.dest_path %></td>
    <td><%= link_to 'Show', merge_job %></td>
    <td><%= link_to 'Edit', edit_merge_job_path(merge_job) %></td>
    <td><%= link_to 'Destroy', merge_job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merge job', new_merge_job_path %>
