<p id="notice"><%= notice %></p>

<p>
  <b>Hdfs src:</b>
  <%= @merge_job.hdfs_src %>
</p>

<p>
  <b>Dest server:</b>
  <%= @merge_job.dest_server %>
</p>

<p>
  <b>Dest path:</b>
  <%= @merge_job.dest_path %>
</p>
<p>
  <b>Copy Dst</b>
  <%= @merge_job.copy_dst %>
</p>

<pre>
  <%= @merge_job.running_status %>
</pre>
<pre>
  <%= @merge_job.output %>
</pre>


<%= link_to 'Edit', edit_merge_job_path(@merge_job) %> |
<%= link_to 'Back', merge_jobs_path %>

<% unless @merge_job.is_running %>
    <%= link_to( 'Run', url_for(:controller => :merge_jobs, :action => :run)) %>
<% end %>
