<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td>Hdfs src:</td>
    <td><%= @merge_job.hdfs_src %></td>
  </tr>
  <tr>
    <td>Dest server:</td>
    <td><%= @merge_job.dest_server %></td>
  </tr>
  <tr>
    <td>Dest path:</td>
    <td><%= @merge_job.dest_path %></td>
  </tr>
  <tr>
    <td>Copy Dst:</td>
    <td><%= @merge_job.copy_dst %></td>
  </tr>

  <tr>
    <td>Job id:</td>
    <td><%= @merge_job.job_id %></td>
  </tr>
  <tr>
    <td>Solr Schema:</td>
    <td><%= @merge_job.solr_schema %></td>
  </tr>
  <tr>
    <td>Solr version</td>
    <td><%= @merge_job.solr_version %></td>
  </tr>
  <tr>
    <td>Solr path:</td>
    <td><%= @merge_job.solr_lib_path %></td>
  </tr>
</table>

<pre>
  <%= @solr_install_status %>
</pre>
<pre>
  <%= @merge_job.go_yaml_output %>
</pre>
<pre>
  <%= @merge_job.running_status %>
</pre>
<pre>
  <%= @merge_job.output %>
</pre>

<%= link_to 'Edit', edit_merge_job_path(@merge_job), :class=>'btn' %>
<%= link_to 'Back', merge_jobs_path, :class =>'btn' %>

<% if (!@merge_job.is_running && @is_solr_install_status_ok)  %>
    <%= link_to( 'Create run file and run', url_for(:controller => :merge_jobs, :action => :run), :class =>'btn btn-success') %>
<% end %>

<% if (!@merge_job.is_running && @is_solr_install_status_ok)  %>
    <%= link_to( 'Create run file only', url_for(:controller => :merge_jobs, :action => :create_run_file), :class =>'btn btn-success') %>
<% end %>

<% if (!@merge_job.is_running && @is_solr_install_status_ok)  %>
    <%= link_to( 'Run existing file', url_for(:controller => :merge_jobs, :action => :run_existing), :class =>'btn btn-success') %>
<% end %>
